.item-page {
    display: flex;
    padding: 20px;
}

.item-image-container {
    display: flex;
}

.item-image {
    width: 800px;
    border: 1px solid #ddd;
    aspect-ratio: 4 / 3;
}

.price {
    font-size: 1.7rem;
    font-weight: bold;
    display: block;
}

.item-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.description {
    font-size: 1rem;
    color: #666;
    margin: 20px 0;
}

.characteristics {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.characteristic {
    background-color: #ececec;
    color: #555;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.characteristic select {
    padding: 8px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.characteristic select:focus {
    outline: none;
    border-color: #333;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.characteristic select option {
    background-color: #fff;
    color: #333;
}

.characteristic select:hover {
    border-color: #555;
}

.countable-field {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
}

.countable-field input {
    padding: 8px;
    border: 2px solid #ddd; /* Border added for consistency */
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    background-color: #fff;
    cursor: pointer;
}

.countable-field input:focus {
    outline: none;
    border-color: #333; /* Border color change on focus */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Subtle shadow effect */
}

.countable-field input:hover {
    border-color: #555; /* Darker border on hover */
}

.button-container {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

button.add-to-cart-button {
    background-color: #333;
    color: #fff;
}

button.add-to-cart-button:hover {
    background-color: #555;
}

button.back-button {
    background-color: #ccc;
    color: #333;
}

button.back-button:hover {
    background-color: #aaa;
}
