.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  20px 20px 20px 60px;
    background-color: #002f34;
}

.logo {
    width: 120px;
    height: 110px;
    border-radius: 20%;
}


nav ul {
    display: flex;
    list-style: none;
    gap: 50px;
}

nav ul li {
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
}

