.car-list {
    padding: 40px;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.car-list-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.car-item:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}