@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.main-card {
    display: flex;
    align-items: center;
    padding: 2%;
    border-radius: 5%;
    box-shadow: 0 0.5vw 0.8vw rgba(0, 0, 0, 0.1);
    max-width: 70%;
    margin: 2% auto;
    background: rgba(240, 99, 184, 0.15);
    animation: fadeInUp 1.5s ease-in-out;
}

.main-card-image {
    flex: 1;
    padding-right: 5%;
}

.main-card-image img {
    width: 100%;
    border-radius: 2%;

}

.main-card-text {
    flex: 1;
    margin-right: 5%;
}

.main-card-text h2 {
    font-size: 3.25vw;
    line-height: 1.4;
}

.main-card-text p {
    margin-top: 3%;
    font-size: 1.25vw;
    font-weight: 500;
    line-height: 1.6;
    color: #4B5D68;
}

.hr-element {
    padding-top: 20px;
    border: 0.2vw;
    color: #9C69E2;
}

.features-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.features-text h2 {
    font-size: 3vw;
    padding: 2%;
    margin-top: 6%;
    color: #212353;
}

.features-text p {
    text-align: center;
    font-size: 1.25vw;
    max-width: 50%;
    color: #4B5D68;
}

.image-text-section {
    display: grid;
    gap: 2%;
    padding: 4%;
    max-width: 1300px; /* Максимальна ширина секції */
    margin: 0 auto; /* Центрування секції */
}

.image-text-block {
    display: grid;
    grid-template-rows: auto auto; /* Дві строки: одна для зображення, інша для тексту */
    align-items: center;
    margin-bottom: 15%;
}

.image-text-block img {
    width: 100%;
}

.text-overlay {
    margin-left: 40%;
    margin-top: -80%;
}

.text-overlay h3 {
    font-size: 1.75vw;
    color: #212353;
    margin-bottom: 10%;
}

.text-overlay p {
    font-size: 1.25vw;
    color: #4B5D68;
    margin-bottom: 15%;
    width: 70%; /* Задайте бажану ширину */
    max-width: 75%;
    min-width: 25%;
    margin-left: auto;
    margin-right: auto;
}

.text-overlay a {
    text-decoration: none;
    font-weight: bold;
    color: #9C69E2;
    font-size: 1.1vw;
}


@media (min-width: 320px) and (max-width: 768px) {
    .main-card {
        flex-direction: column;
        padding: 5%;
        max-width: 90%;
    }

    .main-card-image {
        padding-right: 0;
        margin-bottom: 5%;
    }

    .main-card-text h2 {
        font-size: 6vw;
    }

    .main-card-text p {
        font-size: 4vw;
    }

    .features-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .features-text h2 {
        font-size: 5vw;
    }

    .features-text p {
        font-size: 3.5vw;
        max-width: 90%;
        padding-bottom: 20px;
    }

    .image-text-section {
        grid-template-columns: 1fr; /* Одна колонка */
        grid-template-rows: repeat(4, auto); /* Чотири рядки */
    }
    .text-overlay {
        margin-left: 35%;
        margin-top: -85%;
    }

    .text-overlay h3 {
        font-size: 5vw;
        color: #212353;
    }

    .text-overlay p {
        font-size: 4vw;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10%;
        width: 100%;
    }
    .text-overlay a {
        text-decoration: none;
        font-weight: bold;
        color: #9C69E2;
        font-size: 4vw;
    }
}

@media (min-width: 321px) and (max-width: 424px) {
    .main-card {
        flex-direction: column;
        padding: 5%;
        max-width: 90%;
    }

    .main-card-image {
        padding-right: 0;
        margin-bottom: 5%;
    }

    .main-card-text h2 {
        font-size: 6vw;
    }

    .main-card-text p {
        font-size: 4vw;
    }

    .features-text h2 {
        font-size: 5vw;
    }

    .features-text p {
        font-size: 3.5vw;
        max-width: 90%;
    }

    .image-text-section {
        grid-template-columns: 1fr; /* Одна колонка */
        grid-template-rows: repeat(4, auto); /* Чотири рядки */
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .main-card {
        flex-direction: column;
        padding: 5%;
        max-width: 90%;
    }

    .main-card-image {
        padding-right: 0;
        margin-bottom: 5%;
    }

    .main-card-text h2 {
        font-size: 6vw;
    }

    .main-card-text p {
        font-size: 4vw;
    }

    .features-text h2 {
        font-size: 5vw;
    }

    .features-text p {
        font-size: 3.5vw;
        max-width: 90%;
    }

    .image-text-section {
        grid-template-columns: 1fr; /* Одна колонка */
        grid-template-rows: repeat(4, auto); /* Чотири рядки */
    }
}

@media (min-width: 769px) {
    .image-text-section {
        grid-template-columns: repeat(2, 1fr); /* Дві колонки */
    }
}