.main-card {
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    margin: 20px auto;
    background: rgba(240, 99, 184, 0.15);
}

.main-card-image {
    flex: 1;
    padding-right: 20px;
}

.main-card-image img {
    width: 100%;
    border-radius: 10px;
}

.main-card-text {
    flex: 1;
    margin-right: 40px;
}

.main-card-text h2 {
    font-size: 40px;
    line-height: 140%;
}

.main-card-text p {
    margin-top: 30px;
    font-size: 18px;
    font-weight: 500;
    line-height: 160%;
    color: #4B5D68;
}

.hr-element {
    border: 2px;
    color: #9C69E2
}


.features-text {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.features-text h2 {
    font-size: 40px;
    padding: 20px;
    margin-top: 60px;
    color: #212353;
}

.features-text p {
    font-size: 16px;
    padding: 40px;
    color: #4B5D68;
}

.image-text-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 колонки */
    padding: 50px;
    justify-items: center; /* Вирівнювання зображень по центру горизонтально */
    align-items: center; /* Вирівнювання зображень по центру вертикально */
}


.image-container {
    position: relative;
    width: 500px; /* Задайте ширину контейнера для зображення */
    margin: 40px auto; /* Центрування елемента */
}

.image-container-one {
    position: relative;
    width: 470px; /* Задайте ширину контейнера для зображення */
    margin: 40px auto; /* Центрування елемента */
}

.image-container img {
    width: 100%; /* Зображення покриває весь контейнер */
    border-radius: 10px; /* Закруглені кути */
}

.text-overlay {
    position: absolute;
    top: 30px; /* Відступ зверху */
    left: 260px; /* Відступ зліва */
    color: #212353;
    font-size: 16px;
    line-height: 1.5;
    max-width: 40%; /* Текст займає половину ширини контейнера */
}


.text-overlay h2 {
    font-size: 24px;
    color: #212353;
    margin-bottom: 10px;
}

.text-overlay p {
    margin-bottom: 20px;
    color: #4B5D68;
}


.text-overlay a {
    text-decoration: none;
    font-weight: bold;
    color: #9C69E2;
}
