.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 0.1vw solid #e0e0eb;
}

.footer-left {
    max-width: 50%;
    margin-left: 4vw;
}

.footer-left h2 {
    font-size: 3vw;
    color: #2c2c6f;
}

.footer-left p {
    font-size: 1.2vw;
    margin-bottom: 8vw;
    color: #666;
}

.footer-left small {
    font-size: 0.8vw;
    color: #212353;
}

.footer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-icon {
    margin-top: 20%;
    margin-left: 50%;
    height: 10%;
    width: 10%;
}

.buttons-container {
    display: flex;
    gap: 2vw;
    padding-right: 40%;
}

.button {
    height: 3.5vw;
    border-radius: 50vw;
    font-size: 1.2vw;
    font-weight: bold;
    cursor: pointer;
    border: none;

}

.learn-more {
    width: 12vw;
    background-color: #F063B8;
    color: white;
}

.request-demo-bottom {
    width: 14vw;
    background-color: white;
    color: #9C69E2;
    box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.1);
    margin-left: auto;
}
