header {
    padding: 20px 40px;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px 100px;
}

.top-logo {
    width: 49px;
    height: 35px;
}

.nav-links {
    display: flex;
    margin-left: 100px;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

.nav-links li {
    margin-inline: 30px;
}

.nav-links li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: #212353;
}
