.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8%;
    max-width: 60%;
}

.hero-text {
}

.hero h1 {
    font-size: 56px;
    margin-bottom: 40px;
}

.hero p {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    margin-bottom: 50px;
    color: #4B5D68;
}

.learn-more-btn {
    width: 170px;
    height: 50px;
    border-radius: 50px;
    background: #9C69E2;
    color: white;
    border: none;
    font-size: 1.2vw;
    font-weight: bold;
    cursor: pointer;
}

.hero-image img {
    max-width: 200%;
    padding-top: 10%;
    height: auto;
}


@media (max-width: 768px) {
    .hero h1 {
        font-size: 26px;
        margin-bottom: 40px;
    }

    .hero-image img {
        max-width: 0;
        max-height: 0;
    }
}