.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px;
    margin-left: 80px;
}

.hero-text {
    margin-left: -30px;
}

.hero h1 {
    font-size: 56px;
    margin-bottom: 40px;
}

.hero p {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    margin-bottom: 50px;
    color: #4B5D68;
}

.learn-more-btn {
    width: 170px;
    height: 50px;
    border-radius: 50px;
    background: #9C69E2;
    color: white;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

.hero-image img {
    width: 885px;
    height: 468px;
}
