.about-us {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.about-us h1 {
    color: #ff5733;
    font-size: 2.5rem;
    text-align: center;
}

.about-us h2 {
    color: #002f34;
    font-size: 2rem;
    text-align: center;
}

.about-us p {
    line-height: 1.6;
    color: #555;
}

.about-us ul {
    list-style-type: square;
    margin-left: 20px;
}

.about-us li {
    margin-bottom: 8px;
    font-weight: bold;
}

.about-us h3 {
    margin-top: 20px;
    color: #ff5733;
    text-align: center;
}
